@model IEnumerable<Shop.Data.Tables.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Orders</h4>
                        <p class="category">List of all orders</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Product)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Purchase)
                                    </th>
                                    <th> 
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.User
                                        </td>
                                        <td>@item.Product.Name</td>
                                        <td>@item.Amount</td>
                                        <td>
                                            <span class="label @(item.Purchase == Shop.Enums.Purchase.buying? "label-success" : "label-warning")">
                                                @item.Purchase 
                                            </span>
                                        </td>
                                        <td> 
                                            <span class="label label@(item.Status == 0? "-warning" : "-success")">
                                            @item.Status</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-success ti-close"
                                               asp-action="Edit" asp-route-id="@item.Id">Cancel Order</a> |
                                            <a class="btn btn-sm btn-primary ti-view-list-alt"
                                               asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                            @*<a class="btn btn-sm btn-danger ti-close" 
                                               asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                            
                                        </td>
                                    </tr>
                                }

                                </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>