@model Shop.Data.Tables.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Product Detail</h4>
                        <p class="category">List of all stock</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <tbody>

                                <tr>
                                    <th>ID</th>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <th>Name</th>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>
                                        @Html.DisplayFor(model => model.Description)
                                    </td>
                                </tr>

                                <tr>
                                    <th>Price</th>
                                    <td>
                                        $@Html.DisplayFor(model => model.Price)

                                    </td>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <td>
                                        @Html.DisplayFor(model => model.Quantity)

                                    </td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <span class="label @(Model.Status == 0? "label-warning" : "label-success") ">
                                            @Html.DisplayFor(modelItem => Model.Status)
                                        </span>
                                       
                                    </td>
                                </tr>

                                <tr>
                                    <th>Image</th>
                                    <td>
                                    <img src="~/@Html.DisplayFor(model => model.Image)" 
                                         alt="" class="img-thumbnail" style="width: 150px;">
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>